/* App.css */

.wrapper {
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container {
  margin: 1% auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-width: 650px;
}

input,
textarea {
  padding-left: 8px;
  width: 100%; /* Asegura que los inputs y textareas ocupen el ancho completo */
  margin-bottom: 10px; /* Espacio entre los elementos */
}

#error-label {
  color: red;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Espacio adicional */
}

#success-label {
  color: green;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Espacio adicional */
}

.header {
  background-color: #f2f2f2;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-list li a:hover {
  color: #555;
}

.activity-table {
  font-size: 12px;
  max-width: 800px; /* Ajusta el ancho máximo según tu diseño */
  border-collapse: collapse;
  margin-top: 20px; /* Espacio adicional entre la tabla y el formulario */
}

.activity-table th,
.activity-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.activity-table th {
  background-color: #f2f2f2;
}

.activity-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
